.contacts {
  padding: 77px 0;
  position: relative;
  overflow: hidden;
}
.contacts::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(90deg, #B79891 0%, #D8CFAF 88.54%);
opacity: 0.2;
  filter: blur(250px);
  width: 340px;
  height: 440px;
  z-index: -1;
}
.contacts::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 800px;
  background: linear-gradient(90deg, #6F8488 0%, #6F8488 100%);
opacity: 0.2;
filter: blur(250px);
  z-index: -1;
}
.container {
  padding: 0 20px;
  margin: 0 auto;
  max-width: 1180px;
}
.contacts__inner {
  display: grid;
  gap: 63px 40px;
}
.contacts__title {
  font-family: 'AvenirNext';
  font-size: 32px;
  line-height: 44px;
  color: #1A1A1A;
  margin-bottom: 10px;
  text-transform: capitalize;
}
.contacts__text {
  font-size: 16px;
  line-height: 28px;
  color: #1A1A1A;
  margin-bottom: 30px;
}
.contacts__map {
  width: 100%;
  height: 573px;
}

.form {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(299px, 1fr));
  gap: 37px;
}
.form__input {
  display: block;
  max-width: 100%;
  width: 100%;
  padding: 18px 19px;
  font-size: 16px;
  line-height: 28px;
  border: 0;
  border-radius: 8px;
  color: #1A1A1A;
  box-shadow: 0px 16px 32px rgba(202, 203, 210, 0.25);
}
.form__input::placeholder {
  color: #A0A0A1;
}
.form__select {
  display: block;
  max-width: 100%;
  width: 100%;
  padding: 18px 19px;
  border: 0;
  border-radius: 8px;
  box-shadow: 0px 16px 32px rgba(202, 203, 210, 0.25);
}

.form__textarea {
  max-width: 100%;
  width: 100%;
  height: 340px;
  display: block;
  padding: 18px 19px;
  resize: none;
  border: 0;
  border-radius: 8px;
  box-shadow: 0px 16px 32px rgba(202, 203, 210, 0.25);
}
.form__btn {
  max-width: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  font-size: 16px;
  line-height: 19px;
  background: #1A1A1A;
  border-radius: 8px;
  color: #fff;
  font-weight: 700;
  border: 0;
  transition: all .3s ease;
}
.form__btn:hover {
  background-color: #fff;
  color: #1A1A1A;
}

.spoiler {
  box-shadow: 0px 16px 32px rgba(202, 203, 210, 0.25);
  border-radius: 8px;
  padding: 0 19px;
  cursor: pointer;
  position: relative;
  background: #fff;
}
.spoiler.active {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  z-index: 1;
}
.spoiler__preview {
  padding: 18px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.spoiler__left {
  color: #A0A0A1;
  font-size: 16px;
  line-height: 28px;
}
.spoiler__wrapper {
  height: 0;
  overflow: hidden;
  transition: all .5s ease;
  position: absolute;
  background-color: #fff;
  width: 100%;
  left: 0;
  padding: 0 19px;
  box-shadow: 0px 16px 16px rgba(202, 203, 210, 0.25);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.spoiler__item {
  color: #424242;
  font-size: 16px;
  line-height: 28px;
  transition: all .5s ease;
}
.spoiler__item:hover {
  background-color: #f2f2f2;
  padding-left: 13px;
}
.spoiler__item:not(:last-child) {
  margin-bottom: 13px;
}
.spoiler__item:last-child {
  margin-bottom: 19px;
}


.address {
  border-bottom: 8px;
  padding: 10px 10px 0px;
  max-width: 244px;
  width: 100%;
}
.address__title {
  font-size: 12px;
  line-height: 20px;
  font-weight: 700;
}
.address__location {
  font-size: 12px;
  line-height: 20px;
  max-width: 180px;
  width: 100%;
  font-style: normal;
}
.address__item {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-left: 5px;
}
.address__link {
  color: #858585;
  font-size: 12px;
  line-height: 22px;
}

.gm-ui-hover-effect {
  display: none !important;
}
.gm-style .gm-style-iw-tc {
  display: none !important;
}
.gm-style .gm-style-iw-c {
  top: 10px;
}

@media (min-width:600px) {
  .form {
    gap: 35px 30px;
  }
  .spoiler--inquary {
  grid-column: span 2;
  }
  .form__textarea {
    grid-column: span 2;
  }
}

@media (min-width: 992px) {
  .contacts::before {
    width: 480px;
    height: 460px;
  }
  .contacts::after {
    height: 540px;
    width: 480px;
  }
  .contacts__inner {
    grid-template-columns: 630px minmax(280px, auto);
    gap: 40px;
  }
  .contacts__map {
    height: 900px;
  }

  .form .spoiler:nth-last-of-type(1) {
    grid-column: span 2;
  }
  .form__textarea {
    margin-top: 17px;
  }
  .form__btn {
    margin-top: 17px;
    max-width: 221px;
    padding: 19px 0;
  }
}